{% extends "master.html" %}
{% block title %} - Data Editor{% endblock %}
{% block head_main %}

<!--Ace code editor-->
<style type="text/css" media="screen">
    #editor {
        height: 100px;
    }
</style>
<script src="{{ url_for('.static', filename='lib/ace/ace.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}

<div class="container-fluid">
  
  <div class="row">
    <div class="col sm-12 col-md-12">
      <div class="page-header">
        <h3>Data Editor</h3>
      </div>
    </div>
  </div>

  <div class="row" style="margin-bottom:15px">
  
    <!--select a scenario-->
    <div class="col-sm-9 col-md-3">  
    <div class="form-group">
      <label for="scenarios">Select a scenario to edit</label>
      <select id="scenarios" class="selectpicker show-menu-arrow" data-live-search="true" data-width="100%" title="Select a scenario">
      {% for scenario in scenarios %}
        <option data-tokens="{{scenario.id}}">{{scenario.name}}</option>
      {% endfor %}
      </select>
    </div>
    </div>

    <!--select a feature-->
    <div class="col-sm-9 col-md-3">    
    <div class="form-group">
      <label for="features">Select a feature to edit</label>
      <select id="features" class="selectpicker show-menu-arrow" data-live-search="true" data-width="100%" disabled="true" title="Select a feature">

      {% for (type_id, type_name, feature_type), feats in features.iteritems() %}
        <optgroup label="{{ type_name }}">
        {% for f in feats %}
          <option data-tokens='{"type_id": {{type_id}}, "feature_id": {{f.id}}, "feature_type": "{{feature_type}}"}'>{{f.name}}</option>
        {% endfor %}
        </optgroup>
      {% endfor %}
      </select>
    </div>
    </div>
    
    <!--select a variable-->
    <div class="col-sm-9 col-md-3">
    <div class="form-group">
      <label for="variables">Select a variable to edit</label>
      <select id="variables" class="selectpicker show-menu-arrow" data-live-search="true" data-width="100%" disabled="true" title="Select a variable">
        <optgroup label="No feature selected">
        <option>Select a feature first!</option>
        </optgroup>
      </select>
    </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-9 col-sm-9">

      <div class="panel panel-default">
          <div class="panel-heading">
               <h3 class="panel-title">Edit data</h3>
          </div>
          <div class="panel-body">
            <div id="editor" style="border-style:solid; border-width:1px; border-color:black"></div>
            <div>Please enter statements using Python syntax. See <a href="/help/syntax_instructions">instructions and examples</a>.</div>
          </div>
          <div class="panel-footer">
              <button class="btn btn-default">Undo all</button>
              <button class="btn btn-default">Check for errors</button>
              <button class="btn btn-default">Save changes</button>
            </div>
          </div>
      </div>
    
    </div>
  </div>

</div>

{% endblock %}

{% block endscript %}

<script>
var template_id = {{session['template_id']}}
</script>

<script src="{{ url_for('.static', filename='js/data_editor.js') }}" type="text/javascript" charset="utf-8"></script>

{% endblock %}
