{% extends "master.html" %}
{% block title %} - Data Editor{% endblock %}
{% block head_main %}

<!--Ace code editor-->
<style type="text/css" media="screen">
    #editor {
        height: 100px;
    }
</style>

<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="{{ url_for('.static', filename='lib/ace/ace.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}

<div class="container-fluid">
  
  <div class="row">
    <div class="col sm-12 col-md-12">
      <div class="page-header">
        <h3>Data Editor</h3>
      </div>
    </div>
  </div>

  <div class="row" style="margin-bottom:15px">
  
    <!--select a feature-->
    <div class="col-sm-9 col-md-3">    
      <div class="form-group">
        <label for="features">Select a feature to edit</label>
        <select id="features" class="selectpicker show-menu-arrow" data-live-search="true" data-width="100%" title="Select a feature">  
        {% for (type_id, type_name, feature_type), feats in features.iteritems() %}
          <optgroup label="{{ type_name }}">
          {% for f in feats %}
            <option data-tokens='{"type_id": {{type_id}}, "feature_id": {{f.id}}, "feature_type": "{{feature_type}}"}'>{{f.name}}</option>
          {% endfor %}
          </optgroup>
        {% endfor %}
        </select>
      </div>
    </div>
    
    <!--select a variable-->
    <div class="col-sm-9 col-md-3">
      <div class="form-group">
        <label for="variables">Select a variable to edit</label>
        <select id="variables" class="selectpicker show-menu-arrow" data-live-search="true" data-width="100%" disabled title="Select a feature first">
        </select>
      </div>
    </div>

    <!--select a scenario-->
    <div class="col-sm-9 col-md-3">  
      <div class="form-group">
        <label for="scenarios">Select a scenario to edit</label>
        <select id="scenarios" class="selectpicker show-menu-arrow" multiple data-selected-text-format="count > 1"  data-live-search="true" data-width="100%" disabled title="Select a feature/variable first">
        {% for scenario in scenarios %}
          <option data-tokens='{"scen_id": {{scenario.id}}, "scen_name": "{{scenario.name}}"}'>{{scenario.name}}</option>
        {% endfor %}
        </select>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-9 col-sm-9" style="margin-left:10px">

      <div class="row">
        <label for="editor">Edit data</label>
        <div>Use Python syntax. Last line should be the value to return. See <a href="/help/syntax_instructions">instructions and examples</a>.</div>
        <div id="editor" style="border-style:solid; border-width:1px; border-color:black"></div>
        <!--<br>-->
      </div>
      
      <div class="row" style="margin-top:10px;margin-bottom:15px">
        <div class="form-group">
          <button id="undo_all" class="btn btn-default">Undo all</button>
          <button id="check_code" class="btn btn-default">Check code</button>
          <button id="update_graph" class="btn btn-default">Update graph</button>
          <button id="save_changes" class="btn btn-primary">Save changes</button>
        </div>
      </div>
      
      <div class="row">
        <div id="highstock" style="border-style:solid; border-width:3px; border-color:grey"></div>
      </div>
            
    </div>
    
  </div>

</div>

{% endblock %}

{% block endscript %}

<script>
var template_id = {{session['template_id']}}
</script>

<script src="{{ url_for('.static', filename='js/data_editor.js') }}" type="text/javascript" charset="utf-8"></script>

{% endblock %}
