<!--moment-->
<script src="{{ url_for('static', filename='lib/moment/moment.min.js') }}"></script>

<!--datepicker-->
<link rel="stylesheet" href="{{ url_for('static', filename='lib/datepicker/bootstrap-datetimepicker.min.css') }}" />
<script src="{{ url_for('static', filename='lib/datepicker/bootstrap-datetimepicker.min.js') }}"></script>

<!--lodash (for working with arrays, etc.)-->
<!--<script src="https://cdn.jsdelivr.net/lodash/4.15.0/lodash.min.js"></script>-->
<script src="{{ url_for('static', filename='lib/lodash/lodash.min.js') }}"></script>

<!--Handsontable-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.26.1/handsontable.full.min.css" type="text/css" media="all" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.26.1/handsontable.full.min.js" type="text/javascript" charset="utf-8"></script>

<!--amCharts-->
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

<!--html2canvas-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.svg.min.js"></script>

<!--openagua-->
<script src="{{ url_for('static', filename='js/onload.js') }}"></script>