{% extends "master.html" %}
{% block title %} - Home{% endblock %}

{% block content %}

<div class="page-header">
  <h3>Welcome!</h3>
</div>
<p>Here's an overview of your recent activity:</p>

<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">Recent projects</div>
    <div class="panel-body">
      <p>A list of recent projects will go here.</p>
      <p><a href="#">Manage projects</a></p>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">Model status</div>
    <div class="panel-body">
      <p>No recent model activity.</p>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">Recent Hydra apps</div>
    <div class="panel-body">
      <p>No recently used apps.</p>
    </div>
  </div>
</div>

{% endblock %}