{% extends "layout.html" %}

{% block title %} - Home{% endblock %}

{% block head_master %}
{% include 'navbar.html' %}
{% endblock %} 

{% block main %}

<div class="container-fluid">
  
  <div class="row">
    <div class="col sm-12 col-md-12">
      <div class="page-header">
        <h3>Welcome!</h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">Recent project / network</div>
        <div class="panel-body">
          <p>For now, we need to load a default project ("Monterrey") and network ("base_network") manually.</p>
          <ul>
            <li><p>Monterrey / base_network - <a href="/_load_recent">edit network</a> - <a href="#">edit data</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">Model status</div>
        <div class="panel-body">
          <p>No recent model activity.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">Recent Hydra apps</div>
        <div class="panel-body">
          <p>No recently used apps.</p>
        </div>
      </div>
    </div>
  </div>
  
</div>

{% endblock %}