{% extends "layout.html" %}

{% block head_master %}
{% include 'navbar_index.html' %} 
{% endblock %}

{% block main %}

<div class="container-fluid">
  <div class="row" style="margin-top:20px">   
    <div class="col-sm-12 col-md-10 col-sm-offset-0 col-md-offset-1">
      {{ macros.messages()}}
    </div>
  </div>
</div>

<div class="container-fluid" style="margin-top: 15px;">
  <div class="row">   
    <div class="col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1">
      
      <h1>Welcome to OpenAgua!</h1>
      <p>OpenAgua is a next-generation decision support system for water resources planning.</p>
      
        <li>Optimization-based simulation modeling of water resources systems. (<a href="#">learn more</a>)</li>
        <li>Standardized data organization based on <a href="http://www.hydraplatform.org">Hydra Platform</a>. (<a href="#">learn more</a>)</li>
        <li>Easy and flexible sharing for collaboration between experts, decision-makers, and stakeholders. (<a href="#">learn more</a>)</li>
        <li>Advanced scenario builder to rapidly explore a wide range of management alternatives and social, economic and environmental scenarios. (<a href="#">learn more</a>)</li>
        <li>Flexible computing options, leveraging the power of cloud computing. (<a href="#">learn more</a>)</li>
        <li>Advanced visualization tools, including popular third-party graphing options (e.g., Tableau and Plotly). (<a href="#">learn more</a>)</li>
        <li>Open source, with a BSD license. Feel free to <a href="https://github.com/CentroDelAgua-Decisiones/OpenAguaDSS">fork from GitHub</a> and help improve OpenAgua, or host from your own computer. (<a href="#">learn more</a>)</li>
        <li>Secure everything. (<a href="#">learn more</a>)</li>
      </ul>
      <br/>
      <div>
      <a class="btn btn-primary btn-md label-default" href="/register" role="button">Create account</a>
      <a class="btn btn-primary btn-md label-success" href="/login" role="button">Sign in</a>
      </div>
      <br>
      <img src="{{ url_for('static', filename='images/') }}"></img>
      <p>OpenAgua is a collaboration between the <a href="https://watershed.ucdavis.edu/">Center for Watershed Sciences</a> at the <a href="http://www.ucdavis.edu/">University of California, Davis</a> and the <a href="http://www.centrodelagua.org/">Centro del Agua para Am&eacute;rica Latina y el Caribe</a> at <a href="http://www.itesm.mx/">Tecnol&oacute;gico de Monterrey</a>. Seed funding is from the University of California's <a href="http://citris-uc.org">Center for Information Technology Research in the Interest of Society (CITRIS)</a>.</p>
      
    </div>

  </div>
</div>

{% endblock %}
