{% extends "wrapper.html" %}

{% block head_master %}
{% include 'navbar_index.html' %} 
{% endblock %}

{% block main %}

<div class="container-fluid">
  <div class="row">
      
    <div class="col-col-md-6">
      
      <div class="jumbotron">
        <h1>Welcome to OpenAgua!</h1>
        <p>OpenAgua is a new concept for water resources planning and management.</p>
        <p>
          <a class="btn btn-primary btn-lg label-primary" href="#" role="button">Learn more</a>
          <a class="btn btn-primary btn-lg label-danger" href="/register" role="button">Sign up</a>        
          <a class="btn btn-primary btn-lg label-success" href="/login" role="button">Log in</a>        
        </p>
      </div>
    
    </div>

  </div>
</div>

{% endblock %}
