{% import 'macros.html' as macros with context %}

<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">  
  
  <title>OpenAgua Decision Support System{% block title %}{% endblock %}</title>
  
  <link rel="icon" 
      type="image/png" 
      href="/static/images/favicon.png">
  
  {% include 'head_layout.html' %}

  <!--OpenAgua customizations-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}" />

  {% block head_master %}{% endblock %}
  {% block head_main %}{% endblock %}

</head>
  
<body {% block load %}{% endblock %}>

<div id="spinner"></div>

{% block body %}

<footer class="footer">
  <div class="container">
    {% include "footer.html" %}
  </div>
</footer>

{% endblock %}

<!--OpenAgua functions-->
<script src="{{ url_for('static', filename='js/openagua.js') }}"></script>
    
{% block endscript %}
{% endblock %}

</body>
</html>
