{% extends "layout.html" %}

{% block head_master %}

{% include 'head_master.html' %}
{% include 'navbar.html' %}

{% endblock %}

{% block body %}

<div id="wrapper">

    <!--Sidebar content-->
    <div id="sidebar-wrapper" class="sidebar">
        {% include "sidebar.html" %}
    </div>

    <!-- Page content -->
    <div id="page-content-wrapper">
    
        {{ macros.messages()}}
        
        {% block content %}{% endblock %}
        
    </div>

</div>

<script>

$(function () {
    
    <!-- Menu Toggle Script -->
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
            });
    
        $('ul.sidebar-nav a').filter(function () {
            return this.href == window.location;
        }).parent().addClass('active').parent().parent().addClass('active');
    
    });

</script>

{% endblock %}
