{% extends "layout.html" %}    
    
{% block head_master %}
{% include 'head_master.html' %}
{% include 'navbar.html' %}
{% endblock %}

{% block main %}    

<div class="container-fluid">
  
  <div class="row">
    {% if project_name %}
      <div class="col-sm-offset-3 col-md-offset-2" style="padding:10px">
        <p style="font-size:12px">Project: {{ session.project_name }}; Network: {{ session.network_name }}</p>
      </div>
    {% endif %}
  </div>  
  
  <div class="row">
  
    <div class="col-sm-3 col-md-2 sidebar">
      {% include "sidebar.html" %}
    </div>
  
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    
      {% block content %}{% endblock %}
      
    </div>
    
  </div>  
</div>

<footer class="footer">
  <div class="container">
    {% include "footer.html" %}
  </div>
</footer>    

<!--highlight the selected sidebar item-->
<script>
/*menu handler*/
$(function(){
  function stripTrailingSlash(str) {
    if(str.substr(-1) == '/') {
      return str.substr(0, str.length - 1);
    }
    return str;
  }

  var url = window.location.pathname;  
  var activePage = stripTrailingSlash(url);

  $('.nav-sidebar li a').each(function(){  
    var currentPage = stripTrailingSlash($(this).attr('href'));

    if (activePage == currentPage) {
      $(this).parent().addClass('active'); 
    } 
  });
});
</script>

{% endblock %}