<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <button id="menu-toggle" type="button"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
        <a id="brand" href="#"><span>OpenAgua</span></a>
      </div>
    </div>
    
    <div class="navbar-collapse collapse">

      <ul class="nav navbar-nav">
        {% if 'study_name' in session and session['study_name'] %}
          <li class="nav-item" id="study_name">{{ session['study_name'] }}</li>
        {% else %}
          <li class="nav-item" id="study_name"></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><a class="nav-link" href="/home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><span class="glyphicon glyphicon-th-list"></span> Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/manage/studies">Studies</a></li>
            <li><a href="#">Networks</a></li>
            <li><a href="#">Scenarios</a></li>
            <li><a href="#">Data</a></li>
          </ul>
        </li>
        
        <li class="nav-item"><a class="nav-link" href="#"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>

        {% if current_user.has_role('admin') or current_user.has_role('superuser') %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><span class="glyphicon glyphicon-wrench"></span> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin">Users</a></li>
            <li><a href="/manage/templates">Templates</a></li>
          </ul>
        </li>
        {% endif %}
      
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><span class="glyphicon glyphicon-user"></span> {% if current_user.firstname %} {{ current_user.firstname }} {% endif %} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Preferences</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Account settings</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="/logout"><span class="glyphicon glyphicon-log-out"></span> Sign out</a></li>
      </ul>  
    </div>
  </div>
</nav>
