<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">OpenAgua</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <select id='locale' class="selectpicker" data-width="auto" data-style="btn-success">
              {% for code in languages %}
                {% if code == session['language'] %}
                <option value="{{ code }}" selected="selected">{{ languages[code]}}</option>
                {% else %}
                <option value="{{ code }}">{{ languages[code]}}</option>
                {% endif %}
              {% endfor %}
              </select>
            </div>
          <form>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Support <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Tutorials</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Forum</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
        <li class="nav-item"><a class="nav-link" href="/register"><span class="glyphicon glyphicon-user"></span> Create account</a></li>
        <li class="nav-item"><a class="nav-link" href="/login"><span class="glyphicon glyphicon-log-in"></span> Sign in</a></li>
      </ul>  
    </div>
  </div>
</nav>