<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">OpenAgua</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><strong>EN - English</strong> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">EN - English</a></li>
            <li><a href="#">ES - Espa&#241;ol</a></li>
            <li><a href="#">HI - &#2361;&#2367;&#2344;&#2381;&#2342;&#2368;</a></li>
            <li><a href="#">RU - &#1088;&#1091;&#1089;&#1089;&#1082;&#1080;&#1081;</a></li>
            <li><a href="#">ZH (Simp.) - &#20013;&#25991;(&#31616;)</a></li>
            <li><a href="#">ZH (Trad.) - &#20013;&#25991;(&#32321;)</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Support <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Tutorials</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Forum</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
        <li class="nav-item"><a class="nav-link" href="/register"><span class="glyphicon glyphicon-user"></span> Create account</a></li>
        <li class="nav-item"><a class="nav-link" href="/login"><span class="glyphicon glyphicon-log-in"></span> Sign in</a></li>
      </ul>  
    </div>
  </div>
</nav>