{% extends "master.html" %}
{% block title %} - Network{% endblock %}
{% block head_main %}
{% include 'head_leaflet.html' %}
{% endblock %}

{% block content %}

<div class="page-header">
  <h3>Network Editor</h3>
</div>

<!--network editor-->
<div id="map" style="height: 400px; margin-top: 50px; margin-bottom=50px"></div>
<div id="load_status" class="label label-success"></div>
<div id="save_status" class="label label-danger"></div>

{% include "modals_network.html" %}
<script src="{{ url_for('static', filename='js/network-editor.js') }}"></script>

{% endblock %}