{% extends "master.html" %}
{% block title %} - Network{% endblock %}
{% block head_main %}
{% include 'head_leaflet.html' %}
{% endblock %}

{% block content %}

<div class="page-header">
  <h3>Network Editor</h3>
</div>

<!--network editor-->
<div id="map-edit" style="width: 800px; height: 400px; border: thin solid black"></div>
<button type="button" class="btn btn-success" id="save_edits">Save</button>
<button type="button" class="btn btn-danger" id="clear_edits">Clear edits</button>
<div id="load_status" class="label label-success"></div>
<div id="save_status" class="label label-danger"></div>

{% include "modal_add_feature.html" %}
<script src="{{ url_for('static', filename='js/network-editor.js') }}"></script>

{% endblock %}