{% extends "layout.html" %} 

{% block title %} - Settings{% endblock %}

{% block head_master %}
{% include 'navbar.html' %}
{% endblock %}    
    
{% block main %}

<div class="container-fluid">
  
  <div class="row">
    <div class="col sm-12 col-md-12">
      <div class="page-header">
        <h3>Settings</h3>
      </div>
    </div>
  </div>
  <div class="row">
    
    <!--select project-->
    <div class="panel panel-default">
      <div class="panel-body">
        <label>Existing projects (active project in bold)</label>
        <ul>
        {% if project_names %}
          {% for pname in project_names %}
            {% if pname == session['project_name']%}
              <li><strong>{{ pname }}</strong></li>
            {% else %}
              <li>{{ pname }}</li>
            {% endif %}
          {% endfor %}
        {% else %}          
          <p>No projects yet.</p>
        {% endif %}
        </ul>
        {% if session['project_name'] not in project_names %}
          <button class="btn btn-default">Create new project</button>
        {% else %}
          <label>Networks for "Monterrey"</label>
          <ul>
          {% if network_names %}
            {% for nname in network_names %}
              {% if nname == session['network_name']%}
                <li><strong>{{ nname }}</strong></li>
              {% else %}  
                <li>{{ nname }}</li>
              {% endif %}
            {% endfor %}
          {% else %}          
            <p>No networks yet.</p>
          {% endif %}
          </ul>
          {% if session['project_name'] not in project_names %}
            <button class="btn btn-default">Create network for {{ session['project_name'] }}</button>
          {% endif %}
        {% endif %}
      </div>
    </div>
    
    <!--select network-->
    
    <!--select template-->
    
    
    
    <!--scripts-->
    
    <!--create project-->
    
    <!--create network-->
    
    <!--select template-->
    

    <!--upload template-->
    
<div class="col sm-8 col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">Manage templates</div>
    <div class="panel-body">

    <label class="control-label">Upload new template</label>
    <input id="upload-template" name="upload-template[]" type="file" multiple class="file-loading">
    <script>
      $(document).on('ready', function() {
          $("#upload-template").fileinput({showCaption: false});
      });
    </script>

    </div>
  </div>
</div>    
    
    
  </div>

</div>
  

{% endblock %}