<ul class="nav nav-sidebar">
  <li><a href="home">Overview <span class="sr-only">(current)</span></a></li>
  <li><a href="network_editor">Edit network</a></li>
  <li><a href="data_editor">Manage data</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li><a href="model_dashboard">Model dashboard</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li><a href="results_dashboard">Results dashboard</a></li>
  <li><a href="results_explorer">Results explorer</a></li>
  <li><a href="advanced_vis">Advanced visualizations</a></li>
  <li><a href="tableau">Tableau</a></li>
</ul>