.thumb {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.wrapper {
    text-align: center;
    width: 250px;
    margin: 0 auto;
    border: 1px #999999 solid;
}

.thumb button {
    height: 250px;
    width: 100%;
    border-width: 0;
    border-color: #999999;
    border-style: solid;
    background-color: #ffffff;
    padding: 0;
}

.thumb img { width: 100%; }

.caption {
    padding: 5px 5px 10px 5px;
    background-color: whitesmoke;
}

.thumb h3 {
    margin: 0;
    font-size: medium;
    font-weight: bold;
    text-align: left;
}

.thumb p {
    text-align: left;
    height: 50px;
}