
#viewers .viewer {
  display: none;
}
#output.viewer, #table.viewer {
  height: 400px;
  border-style:solid;
  border-width:1px;
  border-color:#999999;
}
#scalar_output {
  color: #336699;
  font-size: xx-large;
  font-weight: bold;
  margin: 0 15px 0 0;
  padding: 15px;
}

.input {
  height: 250px;
  border: thin solid #999999;
}
#scalar_input {
  height: 50px;
}

.viewer_status {
  color:#999999;
  font-size:large;
  margin-bottom: 15px;
}
.footer {
  display: none;
}