
#viewers .viewer {
  display: none;
}
#output .viewer, #table .viewer {
  height: 400px;
}
#input .viewer {
  height: 250px;
}
.output {
  border-style:solid;
  border-width:1px;
  border-color:#999999;
}
#table {
  /*border-style:solid;*/
  /*border-width:2px;*/
  /*border-color:#C0C0C0;*/
  /*display: none*/
}
.viewer_status {
  color:#999999;
  font-size:large;
  margin-bottom: 15px;
}
