.log {
    width: 100%;
    padding: 4px;
    /*border-width: 1px;*/
    /*border-color: #999999;*/
    /*border-style: solid;*/
    background-color: black;
    /*font-size: small;*/
    font-family: "Courier New", Courier, monospace;
    color: white;
    overflow: scroll;
    white-space: pre;
}

#main_log {
    height: 150px;
}

#scen_log {
    height: 300px;
}

#model_dashboard_top {
    /*background-color: #dddddd;*/
    /*margin: -15px -15px 15px -15px;*/
}
#progress-bars .progress-row {
    width: 100%;
}
.progress {
    width: 80%;
    float: left;
    height: 25px;
}
.progress-bar {
    height: 25px;
}
.btn-scenario-log {
    height: 25px;
}