{% extends "master.html" %}
{% block title %} - Network{% endblock %}
{% block head_main %}
{% include 'head_leaflet.html' %}
{% endblock %}

{% block content %}

<!--network editor-->
<p>CAUTION: Snapping doesn't work perfectly. Please place links carefully. Consider helping to improve <a href="https://github.com/makinacorpus/Leaflet.Snap">Leaflet.Snap</a>, or modify website code to accommodate</p>
<div id="map" style="height: 400px; margin-top: 50px; margin-bottom=50px"></div>
<div id="load_status" class="label label-success"></div>
<div id="save_status" class="label label-danger"></div>

{% include "modals.html" %}
<script src="{{ url_for('network_editor.static', filename='js/network-editor.js') }}"></script>

{% endblock %}