{% extends "master.html" %}
{% block title %} - Network Editor{% endblock %}
{% block head_main %}

<style>
.dropdown-menu {
  z-index: 1000;
  width: 200px
}

#map {
  z-index: 1
}
</style>

<!--Leaflet-->
<!--<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />-->
<!--<script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>-->
<link rel="stylesheet" href="https://unpkg.com/leaflet@0.7.7/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@0.7.7/dist/leaflet.js"></script>

<!--draw-->
<link rel="stylesheet" href="{{ url_for('.static', filename='lib/leaflet/draw/leaflet.draw.css') }}" />
<script src="{{ url_for('.static', filename='lib/leaflet/draw/leaflet.draw.js') }}"></script>

<!--geometryutil-->
<script src="{{ url_for('.static', filename='lib/leaflet/geometryutil/leaflet.geometryutil.js') }}"></script>

<!--snap-->
<script src="{{ url_for('.static', filename='lib/leaflet/snap/leaflet.snap.js') }}"></script>

<!--locate-->
<link rel="stylesheet" href="{{ url_for('.static', filename='lib/leaflet/locate/L.Control.Locate.min.css') }}" />
<script src="{{ url_for('.static', filename='lib/leaflet/locate/L.Control.Locate.min.js') }}"></script>

<!--boxzoom-->
<link rel="stylesheet" href="{{ url_for('.static', filename='lib/leaflet/boxzoom/leaflet-control-boxzoom.css') }}" />
<script src="{{ url_for('.static', filename='lib/leaflet/boxzoom/leaflet-control-boxzoom.js') }}"></script>

<!--contextmenu-->
<link rel="stylesheet" href="{{ url_for('.static', filename='lib/leaflet/contextmenu/leaflet.contextmenu.min.css') }}" />
<script src="{{ url_for('.static', filename='lib/leaflet/contextmenu/leaflet.contextmenu.min.js') }}"></script>

<!--label-->
<link rel="stylesheet" href="{{ url_for('.static', filename='lib/leaflet/label/leaflet.label.css') }}" />
<script src="{{ url_for('.static', filename='lib/leaflet/label/leaflet.label.js') }}"></script>

<!--spin-->
<script src="{{ url_for('.static', filename='lib/leaflet/spin/leaflet.spin.js') }}"></script>

<!--openagua-->
<link rel="stylesheet" href="{{ url_for('.static', filename='css/openagua-leaflet.css') }}" />

{% endblock %}

{% block content %}

<!--network editor-->
<div class='container-fluid'>
  <div class='row'>  
    <div class="btn-group pull-right" style='margin-bottom:5px'>
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li>
          &nbsp;&nbsp;<input type="checkbox" name="show_labels" checked>&nbsp;&nbsp;Node labels      
        </li>
      </ul>
    </div>
  </div>
  <div class='row'>
    <div id="map" style="height: 500px; border: thin solid black"></div>
  </div>
</div>

{% include "network_modals.html" %}

<script>
$.fn.bootstrapSwitch.defaults.size = 'mini';
$("[name='show_labels']").bootstrapSwitch();
var showLabels = $("[name='show_labels']").bootstrapSwitch("state");
</script>

<script src="{{ url_for('network_editor.static', filename='js/network_editor.js') }}"></script>

<script>
$( document ).ready( function() {
  $('input[name="show_labels"]').on('switchChange.bootstrapSwitch', function(event, state) {
    showLabels = state;
    refreshCurrentItems();
  });
});
</script>

{% endblock %}