<!-- add node -->
<div class="modal" id="modal_add_node" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">New point feature</h4>
      </div>
      <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="node_type">Type:</label>
              <select id="node_type">
                {% for ntype in ntypes %}
                  <option value="{{ ntype.id }}">{{ ntype.name }}</option>
                {% endfor %}
              </select><br>
              <label for="node_name">Name:</label>
              <input type="text" class="form-control" id="node_name" autofocus>
            </div>
            <div class="form-group">
              <label for="node_description">Description:</label>
              <input type="comment" class="form-control" rows="3" id="node_description">
            </div>
        </form>
        <div id="add_node_error"></div>
      </div>
      <div class="modal-footer">
        <button id="add_node_cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="add_node_confirm" type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>

<!-- add link -->
<div class="modal" id="modal_add_link" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">New polyline feature</h4>
      </div>
      <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="link_type">Type:</label>
              <select id="link_type">
                {% for ltype in ltypes %}
                  <option value="{{ ltype.id }}">{{ ltype.name }}</option>
                {% endfor %}
              </select><br>
              <label for="link_name">Name:</label>
              <input type="text" class="form-control" id="link_name" autofocus>
            </div>
            <div class="form-group">
              <label for="link_description">Description:</label>
              <input type="comment" class="form-control" rows="3" id="link_description">
            </div>
        </form>
        <div id="add_link_error"></div>
      </div>
      <div class="modal-footer">
        <button id="add_link_cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="add_link_confirm" type="button" class="btn btn-primary">Add</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>