{% extends "master.html" %}
{% block title %} - advanced data editor{% endblock %}
{% block head_main %}

<!--<script type="text/javascript" src="https://www.google.com/jsapi"></script>-->

<!--jquery UI-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<!--plotly-->
<script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!--gchart-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!--pivottable.js-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.1.0/pivot.min.css" type="text/css" media="all" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.1.0/pivot.min.js" type="text/javascript" charset="utf-8"></script>

<!--Table & chart renderers-->

<!--handsontable-->
<script src="{{ url_for('static', filename='lib/pivottable/novix.pivot.renderer.js') }}" type="text/javascript" charset="utf-8"></script>

<!--gchart-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.1.0/gchart_renderers.min.js" type="text/javascript" charset="utf-8"></script>

<!--plotly-->
<script src="{{ url_for('.static', filename='js/plotly_renderers.js') }}" type="text/javascript" charset="utf-8"></script>

<!--OpenAgua-->
<link href="{{ url_for('.static', filename='css/data-editor-advanced.css') }}" media="all" rel="stylesheet" type="text/css" />

<script>
var ttypes = {{ ttypes|tojson|safe }};
var pivotParams = {{ pivot_params|tojson|safe}}
var filterParams = pivotParams.filters;
var pivotOptions = pivotParams.config;
var savedSetups = pivotParams.setups;
var pivotId = pivotParams.setup_id;
</script>

{% endblock %}

{% block content %}

<div id="options_container" class="container-fluid">
    <div class="row">
        <div id="options" class="col col-sm-12 col-md-12 col-lg-12">
            <span id="favorites" class="inline">
                <select class='selectpicker' data-width='fit' title='Saved setups...'>
                    {% if pivot_params.setups|length %}
                        {% for id, name in pivot_params.setups.items() %}
                            <option data-id="{{ id }}" data-content="<div class='load'>{{ name }}</div><button type='button' class='btn btn-sm pull-right delete' data-id='{{ id }}' value='{{ name }}'><span class='glyphicon glyphicon-trash'></span></button>"></option>
                        {% endfor %}
                    {% else %}
                        <option disabled>Nothing saved yet</option>
                    {% endif %}
                </select>
            </span>
            <!--<form id="filters" class='form-inline'>-->
                <span class="form-group">
                    <label for='filterby'>Filters</label>
                    <select id='filterby' class='selectpicker' data-width='auto' title='Filter by...'>
                        <option value="none">No filter</option>
                        <option value="res_type" data-subtext="Reservoir, River, etc.">Feature type</option>
                        <option value="attr" data-subtext="Storage, Flow, etc.">Variable</option>
                    </select>
                </span>
                <span id="res_type_filter_container" class='filter form-group' style="display:none">
                    <label for="res_type_filter">Feature type</label>
                    <select id='res_type_filter' class='selectpicker' data-width='auto' multiple title='Select a feature type...' data-actions-box="true">
                        <optgroup label="Nodes">
                        {% for ttid in ttypes %}
                            {% if ttypes[ttid].resource_type == 'NODE' %}
                                <option data-id="{{ ttid }}">{{ ttypes[ttid].name }}</option>
                            {% endif %}
                        {% endfor %}
                        </optgroup>
                        <optgroup label="Links">
                        {% for ttid in ttypes %}
                            {% if ttypes[ttid].resource_type == 'LINK' %}
                                <option data-id="{{ ttid }}">{{ ttypes[ttid].name }}</option>
                            {% endif %}
                        {% endfor %}
                        </optgroup>
                    </select>
                </span>
                <span id="attr_filter_container" class='filter form-group' style='display:none'>
                    <select id='attr_filter' class='selectpicker' data-width='auto' multiple title='Select a variable...' data-selected-text-format="count > 2" data-actions-box="true">
                        {% for ttid in ttypes %}
                            <option data-id="{{ ttid }}">{{ ttypes[ttid].name }}</option>
                        {% endfor %}
                    </select>
                </span>
                <span id="secondary_filter_container" class='filter form-group' style='display:none'>
                    <select id='secondary_filter' class='selectpicker' data-width='auto' multiple data-selected-text-format="count > 2" data-actions-box="true">
                    </select>
                </span>
                <span class="form-group">
                    <button id='load_options' type="button" class='btn btn-primary'>Load</button>
                </span>
            <!--</form>-->
        </div>
    </div>
</div>
    
<div id="pivot_panel" class="container-fluid">
    <div class="row">
        <div class="col col-sm-12 col-md-12 col-lg-12">
            <div id="pivot" class="pane" style="width:100%">
                <span class="glyphicon glyphicon-arrow-up"></span>
                <strong>Basic instructions:</strong> Load data by selecting a saved setup on the left, or by using the data filters on the right.
            </div>
            <span class="changesOutput" ></span>
        </div>    
    </div>
</div>

<footer class="footer">
    <button id="savedata" type="button" class='savedata btn btn-primary'>Save data</button>
    <button id="savesetup" type="button" class='savesetup btn btn-default'>Save setup</button>
    <button id="savesetupas" type="button" class='savesetup btn btn-default'>Save setup as...</button>
</footer>

{% endblock %}

{% block endscript %}

<script src="{{ url_for('.static', filename='js/data-editor-advanced.js') }}" type="text/javascript" charset="utf-8"></script>

{% endblock %}
