{% extends "layout.html" %}

{% block title %} - Home{% endblock %}

{% block head_master %}
{% include 'navbar.html' %}
{% endblock %} 

{% block main %}

<div class="container-fluid">
  
  <div class="row">
    <div class="col sm-12 col-md-12">
      <div class="page-header">
        <h3>Welcome!</h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Recent project / network</div>
        <div class="panel-body">
          <p>For now, we will load the "Monterrey" project with "base_network" and a "WEAP" template manually.</p>
          <p class="bg-warning"><strong>PLEASE CLICK BELOW TO CONTINUE.</strong> If the project/network doesn't exist, you will be redirected to the Projects page to create them. When finished, come back to Home to try again.</p>
          <ul>
            <li><p><a href="/_load_recent">Monterrey / base_network / WEAP template</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">Model status</div>
        <div class="panel-body">
          <p>No recent model activity.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">Recent Hydra apps</div>
        <div class="panel-body">
          <p>No recently used apps.</p>
        </div>
      </div>
    </div>
  </div>
  
</div>

{% endblock %}