{% extends "master.html" %}
{% block title %} - Overview{% endblock %}
{% block head_main %}
{% endblock %}

{% block content %}

 <div class="row">
    <div class="col-md-6">
      <p>In the future, this page will show details and activity updates regarding your network and scenarios. In the mean time, you can do something with your network:<p>
      
      <div class="list-group">
        <a href="/network_editor" class="list-group-item">Edit the network</a>
        <a href="/data_editor" class="list-group-item">Add or change some data</a>
        <a href="/model_dashboard" class="list-group-item">Go to the modeling dashboard</a>
        <a href="/chart_maker" class="list-group-item">Make a chart</a>
      </div>        
        
    </div>
  </div>

{% endblock %}