{% extends "layout.html" %}

{% block title %} - Home{% endblock %}

{% block head_master %}

<link href="{{ url_for('.static', filename='css/home.css') }}" media="all" rel="stylesheet" type="text/css" />

{% endblock %}    
    
{% block main %}

{% include 'navbar.html' %}

<script>
    var active_project_id = {{ session['project_id'] }};
    
    {% if session['network_id'] %}
    var active_network_id = {{ session['network_id'] }};
    {% else %}
    var active_network_id = null;
    {% endif %}
    
    {% if session['template_id'] %}
    var active_template_id = {{ session['template_id'] }};
    {% else %}
    var active_template_id = null;
    {% endif %}
    
    var network_img = "{{ url_for('home.static', filename='images/default_network_image.png') }}";
    var is_pro_user = "{{ current_user.has_role('pro_user') }}";

</script>

<div class="container-fluid">

      <div class="row"><br>
      
        {% if current_user.has_role('pro_user') %}
      
        <!--projects-->
        <div class="col col-sm-4 col-md-4 col-lg-3">
            <!--<button id="add_project" class="btn btn-default btn-sm">Add project</button>-->
            <div id="projects" class="container-fluid">
                <div>
                    <span id="project_list_description">Your projects</span> <a href="#"><span class="glyphicon glyphicon-question-sign"></span></a>
                </div>
                <div id="project_list" class="row"></div>
            </div>
        </div>
          
        <!--networks-->
        <div class="col col-sm-8 col-md-8 col-lg-9">

        {% else %}
        
        <!--networks-->
        <div class="col col-sm-12 col-md-12 col-lg-12">
        
        {% endif %}
            
            <div class="container-fluid" id="networks">
                <div>
                    <span id="network_list_description">Your networks</span> <a href="#"><span class="glyphicon glyphicon-question-sign"></span></a>
                    <!--<button id="add_network" class="btn btn-default btn-small">Add network</button>-->
                </div>
                
                <div id="network_list" class="row"></div>
            </div>

        </div>

    </div>   
</div>
  
{% include "modals.html" %}
  
<script src="{{ url_for('home.static', filename='js/functions.js') }}"></script>
<script src="{{ url_for('home.static', filename='js/home.js') }}"></script>

{% endblock %}