<!-- add project -->
<div class="modal fade" id="modal_add_project" role="dialog" data-backdrop="false">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Add project</h4>
      </div>
      <div class="modal-body">
          <form id="form_add_project"role="form">
            <div class="form-group">
              <label for="project_name">Name:</label>
              <input type="text" class="form-control" id="project_name" autofocus>
            </div>
            <div class="form-group">
              <label for="project_description">Description:</label>
              <textarea class="form-control" rows="3" id="project_description"></textarea>
            </div>
        </form>
        <div id="add_project_error"></div>
      </div>
      <div class="modal-footer">
        <button id="add_project_cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="add_project_confirm" type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>

<!-- add network -->
<div class="modal fade" id="modal_add_network" role="dialog" data-backdrop="false">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Add a network</h4>
      </div>
      <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="network_name">Name:</label>
              <input type="text" class="form-control" id="network_name" autofocus>
            </div>
            <div class="form-group">
              <label for="network_description">Description:</label>
              <textarea class="form-control" rows="3" id="network_description"></textarea>
            </div>
            <div class="form-group">
              <label for="template">Template version:</label>
              <select id="template">
                {% for template in templates %}
                  {% if loop.index == 0 %}
                    <option value="{{ template.id }}" selected>{{ template.name }}</option>
                  {% else %}
                    <option value="{{ template.id }}">{{ template.name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
              <div><strong>Use with caution!</strong> We always recommend selecting the latest version. See <a href="/version_history" target="_blank">template version history</a>.</div>
            </div>
        </form>
        <div id="add_network_error"></div>
      </div>
      <div class="modal-footer">
        <button id="add_network_cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="add_network_confirm" type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>
