/*body { font-family: Verdana;}*/

#pivot_panel {
    padding-left: 0;
}

#pivot {
    /*height: 400px;*/
    margin-bottom: 20px;
}

#options {
    /*margin-right: -20px;*/
    background-color: #ebf0fa;
    border: 1px #336699 solid;
    padding: 10px;
    opacity: 0.9;
    z-index: 2000;
}

.filter {
    margin-top: 5px;
}

/*#page-content-wrapper {*/
    /*padding-right: 5px;*/
/*}*/

/*Pivot results*/

.pvtSelect {
    padding: 0 10px 5px 0px;
    background-color: #ffffff;
}

.pvtVals {
    background: #ffffff;
    border-left: 0px;
    border-top: 0px;
    padding: 0 10px 5px 0px;
    text-align: left;
}

.pvtAttr {
    font-size: medium;
}

/*.pvtSearch > .form-control {*/
    /*margin-top: 5px;*/
/*}*/

.pvtSearch > .pvtSearchOk {
    margin-bottom: 0px;
}
