/*body { font-family: Verdana;}*/

#page-content-wrapper {
    padding: 0px;
}

/*#options_container {*/
    /*padding: 0px;*/
/*}*/

#options {
    background-color: #ebf0fa;
    border-bottom: 1px #336699 solid;
    padding: 10px;
}

#submit {
    /*float: right;*/
}

.filters > div {
    margin-top: 5px;
    display: inline-block;
}

#filterby {
    width: 150px;
}

#res_type_filter {
    width: 300px;
}

#secondary_filter {
    width: 200px;
}

/*#page-content-wrapper {*/
    /*padding-right: 5px;*/
/*}*/

/*Pivot results*/

#pivot_panel {
    padding: 0;
    margin: 20px;
}

#pivot {
    /*height: 400px;*/
    margin-bottom: 20px;
}

.pvtSelect {
    padding: 0 10px 5px 0px;
    background-color: #ffffff;
}

.pvtSelect>.bootstrap-select>.dropdown-toggle.bs-placeholder,
.pvtSelect>.bootstrap-select>.dropdown-toggle.bs-placeholder:active,
.pvtSelect>.bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.pvtSelect>.bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    color: #ffffff;
}

.pvtVals {
    background: #ffffff;
    border-left: 0px;
    border-top: 0px;
    padding: 0 10px 5px 0px;
    text-align: left;
}

.pvtAttr {
    font-size: medium;
}

/*.pvtSearch > .form-control {*/
    /*margin-top: 5px;*/
/*}*/

.pvtSearch > .pvtSearchOk {
    margin-bottom: 0px;
}
