{% extends "master.html" %}
{% block title %} - pivot chart{% endblock %}
{% block head_main %}

<!--<script type="text/javascript" src="https://www.google.com/jsapi"></script>-->

<!--jquery UI-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<!--plotly-->
<script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!--d3/c3-->
<!--<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css">-->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>-->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>-->

<!--gchart-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!--pivottable.js-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.1.0/pivot.min.css" type="text/css" media="all" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.1.0/pivot.min.js" type="text/javascript" charset="utf-8"></script>

<!--Table & chart renderers-->
<!--handsontable-->
<script src="{{ url_for('static', filename='lib/pivottable/novix.pivot.renderer.js') }}" type="text/javascript" charset="utf-8"></script>
<!--c3-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.1.0/c3_renderers.min.js" type="text/javascript" charset="utf-8"></script>-->
<!--gchart-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.1.0/gchart_renderers.min.js" type="text/javascript" charset="utf-8"></script>
<!--plotly-->
<script src="{{ url_for('.static', filename='js/plotly_renderers.js') }}" type="text/javascript" charset="utf-8"></script>

<!--OpenAgua-->
<link href="{{ url_for('.static', filename='css/chart-maker.css') }}" media="all" rel="stylesheet" type="text/css" />
<script src="{{ url_for('.static', filename='js/chart-maker.js') }}" type="text/javascript" charset="utf-8"></script>

<script>
var ttypes = {{ ttypes|tojson|safe }};
var chartParams = {{ chart_params|tojson|safe}}
var filterParams = chartParams.filters;
var chartSetup = chartParams.setup;
var chartNames = chartParams.chart_names;
var chartId = chartParams.chart_id;
</script>

{% endblock %}

{% block content %}
<div id="options_container" class="container-fluid">
    <div class="row">
        <div id="options" class="col col-sm-12 col-md-12 col-lg-12">
            <form id="filters" class='form-inline'>
                <div class="form-group">
                    <label for="chart_renderer">Renderer</label>
                    <select id='chart_renderer' class='selectpicker' data-width='auto'>
                    <!--<select id='chart_renderer'>-->
                        <option value="plotly">Plotly</option>
                        <option value="gchart">Google Charts</option>
                        <!--<option value="c3">C3</option>-->
                    </select>
                </div>
                <div class="form-group">
                    <label for='filterby'>Filters</label>
                    <select id='filterby' class='selectpicker' data-width='auto' title='Filter by...'>
                    <!--<select id='filterby'>-->
                        <option value="none">No filter</option>
                        <option value="res_type" data-subtext="Reservoir, River, etc.">Feature type</option>
                        <option value="attr" data-subtext="Storage, Flow, etc.">Variable</option>
                    </select>
                </div>
                <div id="res_type_filter_container" class='filter form-group' style="display:none">
                    <label for="res_type_filter">Feature type</label>
                    <select id='res_type_filter' class='selectpicker' data-width='auto' multiple title='Select a feature type...' data-actions-box="true">
                    
                    <!--<select id="res_type_filter">-->
                        <!--<option></option>-->
                        {% for ttid in ttypes %}
                            <option data-id="{{ ttid }}">{{ ttypes[ttid].name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="attr_filter_container" class='filter form-group' style='display:none'>
                    <!--<label for="attr_filter">Variable type</label>-->
                    <select id='attr_filter' class='selectpicker' data-width='auto' multiple title='Select a variable...' data-selected-text-format="count > 2" data-actions-box="true">
                        {% for ttid in ttypes %}
                            <option data-id="{{ ttid }}">{{ ttypes[ttid].name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="secondary_filter_container" class='filter form-group' style='display:none'>
                    <select id='secondary_filter' class='selectpicker' data-width='auto' multiple data-selected-text-format="count > 2" data-actions-box="true">
                    <!--<select id="secondary_filter">-->
                    </select>
                </div>
                <div class="form-group">
                    <button id='load_options' type="button" class='btn btn-primary'>Load</button>
                </div>
            </form>
        </div>
    </div>
</div>
    
<div id="pivot_panel" class="container-fluid">
    <div class="row">
        <div class="col col-sm-12 col-md-12 col-lg-12">
            <div id="spinner"></div>
            <div id="pivot" class="pane" style="width:100%"></div>
            <span class="changesOutput" ></span>
        </div>    
    </div>
</div>

    <footer class="footer">
        <!--<button id="save" type="button" class='save btn btn-primary'>Save</button>-->
        <button id="saveas" type="button" class='save btn btn-default'>Save as...</button>
    </footer>

{% endblock %}

{% block endscript %}{% endblock %}
