{% extends "master.html" %}
{% block title %} - Plotly chart maker{% endblock %}
{% block head_main %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block content %}

<div class="container-fluid">
  
  <div class="row">
    <div class="col sm-12 col-md-12">
        <div class="page-header">
          <h3>Chart Maker</h3>
        </div>
    </div>  
  </div>

  <div class="row">
    <div class="col sm-12 col-md-12">
        <p>Here you can create <a href="http://plot.ly">Plotly</a> graphs, then save them to your <a href="#">graph collection</a> to view in your <a href="#">graph dashboard</a>. You can also save or share them directly from here.</p>
        <p>This graph is an example from Plotly, pending further development.</p>
        <div id="plotly_graph"></div>
        <!--<div class="row">-->
          <button type="button" class="btn btn-primary">Save graph</button>
          <button type="button" class="btn btn-default">Share graph</button>
        <!--</div>-->
    </div>
  </div>


<script>

Plotly.d3.csv('https://raw.githubusercontent.com/plotly/datasets/master/gapminderDataFiveYear.csv', function(err, rows){
var YEAR = 2007;
var continents = ['Asia', 'Europe', 'Africa', 'Oceania', 'Americas'];
var POP_TO_PX_SIZE = 2e5;
function unpack(rows, key) {
  return rows.map(function(row) { return row[key]; });
}

var data = continents.map(function(continent) {
  var rowsFiltered = rows.filter(function(row) {
      return (row.continent === continent) && (+row.year === YEAR);
  });
  return {
      mode: 'markers',
      name: continent,
      x: unpack(rowsFiltered, 'lifeExp'),
      y: unpack(rowsFiltered, 'gdpPercap'),
      text: unpack(rowsFiltered, 'country'),
      marker: {
          sizemode: 'area',
          size: unpack(rowsFiltered, 'pop'),
          sizeref: POP_TO_PX_SIZE
      }
  };
});
var layout = {
  xaxis: {title: 'Life Expectancy'},
  yaxis: {title: 'GDP per Capita', type: 'log'},
  margin: {t: 20},
  hovermode: 'closest'
};
Plotly.plot('plotly_graph', data, layout, {showLink: false});
});


</script>
  
{% endblock %}