<!-- add project -->
<div class="modal" id="modal_add_project" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Add project</h4>
      </div>
      <div class="modal-body">
          <form id="form_add_project"role="form">
            <div class="form-group">
              <label for="project_name">Name:</label>
              <input type="text" class="form-control" id="project_name" autofocus>
            </div>
            <div class="form-group">
              <label for="project_description">Description:</label>
              <input type="comment" class="form-control" rows="3" id="project_description">
            </div>
            <div class="checkbox">
              <label><input id="activate_project" type="checkbox" value="">Activate</label>
            </div>
        </form>
        <div id="add_project_error"></div>
      </div>
      <div class="modal-footer">
        <button id="add_project_cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="add_project_confirm" type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>

<!-- add network -->
<div class="modal" id="modal_add_network" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Add network</h4>
      </div>
      <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="network_name">Name:</label>
              <input type="text" class="form-control" id="network_name" autofocus>
            </div>
            <div class="form-group">
              <label for="network_description">Description:</label>
              <input type="comment" class="form-control" rows="3" id="network_description">
            </div>
            <div class="form-group">
              <label for="net_template">Template:</label>
              <select id="net_template">
                {% for template in templates %}
                  <option value="{{ template.id }}">{{ template.name }}</option>
                {% endfor %}
              </select><br>
            </div>
        </form>
        <div id="add_network_error"></div>
      </div>
      <div class="modal-footer">
        <button id="add_network_cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="add_network_confirm" type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>

<!-- modal_purge_project -->
<div class="modal" id="modal_purge_project" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="delete_purged_name"></h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this project from the database?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="purge_project_confirm" type="button" class="btn btn-danger">Purge</button>
      </div>
    </div>
  </div>
</div>