{% extends "layout.html" %} 

{% block title %} - Projects{% endblock %}

{% block head_master %}
{% include 'navbar.html' %}
{% endblock %}    
    
{% block main %}

<div class="container-fluid">
  
  <div class="row">
    <div class="col sm-12 col-md-12">
      <div class="page-header">
        <h3>Manage projects</h3>
      </div>
    </div>
  </div>
  
  <div class="row">
  
    <!--select/add project-->
    <div class="col sm-4 col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading clearfix" style="padding:3px">
          <button id="add_project" class="btn btn-default btn-sm pull-right">Add project</button>
          <h4 style="margin:7px">Projects</h4>
        </div>
        <div class="panel-body">
          <!--<p>Click to activate</p>-->
          <div id="project_list">
            <ul class="list-group">
            {% if projects %}
              {% for project in projects %}
                  <li id="{{ project.id }}" value={{project.id}} class="list-group-item project_item clearfix" style="padding:5px">
                  
                    <div class="dropdown pull-right">
                      <button id="{{ 'dropdown_project_%s' % project.id }}" class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Actions
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Activate</a></li>
                        <li><a href="#">Rename</a></li>
                        <li><a onclick="purge_project({{project.id}})" href="#">Purge</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Sharing</a></li>
                      </ul>
                    </div>
                    
                    <div style="margin:5px"> {{ project.name }} </div>
                  
                  </li>
              {% endfor %}
            {% else %}          
              <p>No projects yet.</p>
            {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
      
    <!--select/add network-->
    <div class="col sm-4 col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading clearfix" style="padding:3px">
          <button id="add_network" class="btn btn-default btn-sm pull-right">Add network</button>
          <h4 style="margin:7px">Networks</h4>
        </div>
        <div class="panel-body">
          {% if networks %}
            <!--<p>Click to activate and view network</p>-->
            <div id="network_list">
            <ul class="list-group">
              {% for network in networks %}
                <li id="{{ 'network%s' % network.id }}" value={{network.id}} type="button" class="list-group-item network_item clearfix" style="padding:5px">
                
                <div class="dropdown pull-right">
                  <button id="{{ 'dropdown_network_%s' % network.id }}" class="btn btn-xs btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Actions
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Activate</a></li>
                    <li><a href="#">Rename</a></li>
                    <li><a href="#">Attach/detach templates</a></li>
                    <li><a href="#">Delete</a></li>
                    <!--<li role="separator" class="divider"></li>-->
                    <!--<li><a href="#">Sharing</a></li>-->
                  </ul>
                </div>
                
                <div style="margin:5px">{{ network.name }}</div>
                
                </li>
              {% endfor %}         
            </ul>
            </div>
          {% else %}
            <p>No networks yet.</p>
          {% endif %}
        </div>
      </div>
      
    </div>
    
    <!--manage templates-->    
    <div class="col sm-6 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><b>Templates</b></div>
        <div class="panel-body">
          <p>Click to activate</p>
          <div id="template_list">
            {% if templates %}
            <ul class="list-group">
              {% for tpl in templates %}
                  <li class="list-group-item">{{ tpl.name }}</li>
              {% endfor %}
            </ul>
            {% else %}          
              <p>No templates loaded.</p>
            {% endif %}
          </div>
    
          <label class="control-label">Upload new template - DOES NOT WORK</label>
          <input id="upload-template" name="upload-template[]" type="file" multiple class="file-loading">
          <script>
            $(document).on('ready', function() {
                $("#upload-template").fileinput({showCaption: false});
            });
          </script>
    
        </div>
      </div>
    </div>    
    
  </div>    
</div>
  
{% include "modals.html" %}  

<script>
$( document ).ready(function() {
  $("li#{{ 'project%s' % session['project_id'] }}").addClass('active');
  $("li#{{ 'network%s' % session['network_id'] }}").addClass('active');
});  
</script>
  
<script src="{{ url_for('user_projects.static', filename='js/user_projects.js') }}"></script>

{% endblock %}