{% extends "layout.html" %} 

{% block title %} - Projects{% endblock %}

{% block head_master %}
{% include 'navbar.html' %}
{% endblock %}    
    
{% block main %}

{% include "modals.html" %}

<div class="container-fluid">
  
  <div class="row">
    <div class="col sm-12 col-md-12">
      <div class="page-header">
        <h3>Manage projects</h3>
      </div>
    </div>
  </div>
  
  <div class="row">
  
    <!--select/add project-->
    <div class="col sm-8 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Manage projects</div>
        <div class="panel-body">
          <label>Existing projects (active project in bold)</label>
          <div id="project_list">
            <ul>
            {% if project_names %}
              {% for pname in project_names %}
                {% if pname == session['project_name']%}
                  <li><strong>{{ pname }}</strong></li>
                {% else %}
                  <li>{{ pname }}</li>
                {% endif %}
              {% endfor %}
            {% else %}          
              <p>No projects yet.</p>
            {% endif %}
            </ul>
          </div>
          <button id="add_project" class="btn btn-default">Add project</button>
        </div>
      </div>
      
      <!--select/add network-->
      <div class="panel panel-default">
        <div class="panel-heading">Manage networks</div>
        <div class="panel-body">
          <label>Networks for active project</label>
          {% if session['project_name'] in project_names %}
            <div id="network_list">
            <ul>
            {% if network_names %}
              {% for nname in network_names %}
                {% if nname == session['network_name']%}
                  <li><strong>{{ nname }}</strong></li>
                {% else %}  
                  <li>{{ nname }}</li>
                {% endif %}
              {% endfor %}
            {% else %}          
              <p>No networks yet.</p>
            {% endif %}
            </ul>
            </div>
            <button id="add_network" class="btn btn-default">Add network</button>
          {% endif %}
        </div>
      </div>
      
    </div>
    
    <!--manage templates-->    
    <div class="col sm-8 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Manage templates</div>
        <div class="panel-body">

          <label>Existing templates</label>
          <div id="template_list">
            {% if templates %}
            <ul>
              {% for tpl in templates %}
                <li>{{ tpl.name }}</li>
              {% endfor %}
            </ul>
            {% else %}          
              <p>No templates loaded.</p>
            {% endif %}
          </div>
    
          <label class="control-label">Upload new template - DOES NOT WORK</label>
          <input id="upload-template" name="upload-template[]" type="file" multiple class="file-loading">
          <script>
            $(document).on('ready', function() {
                $("#upload-template").fileinput({showCaption: false});
            });
          </script>
    
        </div>
      </div>
    </div>    
    
  </div>    
</div>
  
<script>
$("button#add_project").bind('click', function() {
  $('#modal_add_project').modal('show');
});

$("button#add_network").bind('click', function() {
  $('#modal_add_network').modal('show');
});

$("button#add_project_confirm").bind('click', function() {
      var proj = {name: $('#project_name').val(), description: $('#project_description').val()};
      $.getJSON($SCRIPT_ROOT + '/_add_project', {proj: JSON.stringify(proj)}, function(resp) {
        status_code = resp.result.status_code;
        if ( status_code == -1 ) {
            $("#add_project_error").text('Name already in use. Please try again.');
        } else if ( status_code == 1 ){
            $("#project_list ul").append('<li>'+proj.name+'</li>');
            $('#modal_add_project').modal('hide');
        };
    });
});

$("button#add_network_confirm").bind('click', function() {
      var net = {
        name: $('#network_name').val(),
        description: $('#network_description').val()
      };
      var tpl_id = $('#net_template').val();
      var data = {net: JSON.stringify(net), tpl_id: tpl_id};
      $.getJSON($SCRIPT_ROOT + '/_add_network', data, function(resp) {
        status_code = resp.result.status_code;
        if ( status_code == -1 ) {
            $("#add_network_error").text('Name already in use. Please try again.');
        } else if ( status_code == 1 ){
            $("#network_list ul").append('<li>'+net.name+'</li>');
            $('#modal_add_network').modal('hide');
        };
    });
});
</script>


{% endblock %}