{% extends "layout.html" %} 

{% block title %} - Projects{% endblock %}

{% block head_master %}
{% include 'navbar.html' %}
{% endblock %}    
    
{% block main %}

<script>
var active_project_id = -1;
var active_network_id = -1;
var active_template_id = -1;
  {% if 'project_id' in session %}
    var active_project_id = {{ session['project_id'] }};
  {% endif %}
  {% if 'network_id' in session %}
    active_network_id = {{ session['network_id'] }};
  {% endif %} 
  {% if 'template_id' in session %}
    var active_template_id = {{ session['template_id'] }};
  {% endif %}
</script>

<div class="container-fluid">
  
  <div class="row">
    <div class="col sm-12 col-md-12">
      <div class="page-header">
        <h3>Manage projects</h3>
      </div>
    </div>
  </div>
  
  <div class="row">
  
    <!--select/add project-->
    <div class="col sm-4 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading clearfix" style="padding:3px">
          <button id="add_project" class="btn btn-default btn-sm pull-right">Add project</button>
          <h4 style="margin:7px">Projects</h4>
        </div>
        <div class="panel-body">
          <div id="project_list">
            <ul class="list-group">
            </ul>
          </div>
        </div>
      </div>
    </div>
      
    <!--select/add network-->
    <div class="col sm-4 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading clearfix" style="padding:3px">
          <button id="add_network" class="btn btn-default btn-sm pull-right">Add network</button>
          <h4 style="margin:7px">Networks</h4>
        </div>
        <div class="panel-body">
            <p id="network_list_description"></p>
            <div id="network_list">
              <ul class="list-group">
              </ul>
            </div>
        </div>
      </div>
      
    </div>
    
    <!--manage templates-->    
    <div class="col sm-6 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><b>Templates</b></div>
        <div class="panel-body">
          <div id="template_list">
            <ul class="list-group">
            </ul>
          </div>
    
          <label class="control-label">Upload new template - DOES NOT WORK</label>
          <input id="upload-template" name="upload-template[]" type="file" multiple class="file-loading">
          <script>
            $(document).on('ready', function() {
                $("#upload-template").fileinput({showCaption: false});
            });
          </script>
    
        </div>
      </div>
    </div>    
    
  </div>    
</div>
  
{% include "modals.html" %}
  
<script src="{{ url_for('user_projects.static', filename='js/user_projects.js') }}"></script>

{% endblock %}