/*PROJECTS*/

#project_list_description {
      font-size: large;
      padding-left: 0px;
}
#project_list {
      padding-top: 5px;
}
#projects {
      padding-top: 15px;
}
#projects .project {
      position: relative;
      border-width: 0px;
      margin-top: 5px;
      margin-bottom: 5px;
      vertical-align: middle;
}
#projects .project button.project-btn {
      border-width: 1px;
      border-style: solid;
      border-color: #999999;
      font-size: medium;
      font-weight: bold;
      text-align: left;
      color: #999999;
      height: 50px;
      line-height: 40px;
      width: 100%;
      z-index: 11;
}
#projects .active button.project-btn {
      border-width: 2px;
      border-style: solid;
      border-color: #336699;
      color: #336699;
      /*background-color: #efeff5;*/
}
#projects .project .project-menu {
      position: absolute;
      top: 0px;
      right: 0px;
      margin-top: 10px;
      margin-right: 10px;
      text-align: right;
      z-index: 12;
      display: none;
}
#projects .project-menu btn-group, #projects .project-menu button {
      z-index: 13;
}
#projects .project-menu ul {
      z-index: 14;
}

#projects .add_project {
      border-width: 0px;
}
#projects .add_project button {
      border-width: 1px;
      border-style: dashed;
      border-color: #999999;
      font-size: medium;
      font-weight: normal;
      color: #999999;
      text-transform: uppercase;
      height: 50px;
      line-height: 40px;
      width: 100%;
}

.project-name {
      font-weight: bold;
}

/*NETWORKS*/

#network_list_description {
      font-size: large;
      padding-left: 0px;
}

#networks {
      border-width: 0px;
      border-style: solid;
      border-color: #336699;
      padding-top: 15px;
      /*background-color: #f2f2f2;*/
}
.network-col {
      margin: 0px;
      padding: 10px;
}
.network {
      border-width: 1px;
      border-style: solid;
      border-color: #999999;
      padding: 0px;
      margin: 0px;
}
.network_menu {
      display: none;
      position: absolute;
      margin-top: 10px;
      margin-right: 10px;
      top: 10px;
      right: 10px;
      z-index: 12;
}
.network:hover .network_menu, .network.hover .network_menu {
    display: block;
}
.network_preview {
      height: 175px;
      position: relative;
      border-bottom: 1px solid #e7e9ed;
      display: block;
      color: #e7e9ed;
      font-size: 80px;
      text-align: center;
      padding: 30px 0 30px 0;
}
.network_preview a, .network_preview button {
      position: absolute;
      top: 50%;
      margin-top: -20px;
      left: 50%;
      margin-left: -50px;
      font-size: 12px;
      z-index: 11;
      opacity: 0.75;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      border-color: white;
      border-style: solid;
      border-width: 1px;
      height: 40px;
      line-height: 40px;
      width: 100px;
      display: none;
}

.network_preview button {
      position: absolute;
      top: 50%;
      margin-top: -20px;
      left: 50%;
      margin-left: -50px;
      font-size: 12px;
      z-index: 11;
      opacity: 0.75;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      border-color: white;
      border-style: solid;
      border-width: 1px;
      height: 100px;
      line-height: 100px;
      width: 100px;
      display: none;
}

.network_preview a:hover, .network_preview button:hover {
      opacity: 1;
}
.network:hover .network_preview a, .network.hover .network_preview a,
.network:hover .network_preview button, .network.hover .network_preview button{
    display: inline;
}
.network:hover .network_preview:after, .network.hover .network_preview:after {
    display: inline;
}
.network_footer {
      height: 30px;
      padding: 5px;
      background-color: #efeff5;
      text-align:center;
      font-weight: bold;
      width: 100%;
}
.network_preview:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    display: none;
}      

.add_network {
      border-width: 0px;
}
.add_network button {
      border-width: 1px;
      border-style: dashed;
      border-color: #999999;
      font-size: large;
      color: #999999;
      text-transform: uppercase;
      height: 205px;
      line-height: 60px;
      width: 100%;
}