
.viewer {
  display: none;
}
.output, .table {
  height: 400px;
  border-style:solid;
  border-width:1px;
  border-color:#999999;
}
#table > .table {
  border-width: 0px;
}
#scalar_output {
  height: 50px;
  color: #336699;
  font-size: xx-large;
  font-weight: bold;
  margin: 0 15px 0 0;
  line-height: 20px;
  padding: 15px;
}

#input > .timeseries_table, #input > .array_table, #input > .function {
  height: 250px;
  border: thin solid #999999;
}
#input > .timeseries_table {
  border-width: 0px;
}
#scalar_input {
  /*height: 50px;*/
}

.viewer_status {
  color:#999999;
  font-size:large;
  margin-bottom: 15px;
}
.footer {
  display: none;
}
#output > .footer {
  margin: 5px 0 15px 0;
}
#table > .footer {
  margin-top: -15px;
}