{% extends "master.html" %}
{% block title %} - model dashboard{% endblock %}
{% block head_main %}

<link href="{{ url_for('.static', filename='css/model-dashboard.css') }}" media="all" rel="stylesheet" type="text/css" />

{% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="row">

        <div class="col col-sm-12 col-md-4 col-lg-5">
        
            <label for="management_scenarios">Select scenarios</label>
            <div id="scenarios" class="form-group">
                <select class="selectpicker" multiple data-selected-text-format="count > 1" data-actions-box="true">
                    {% for scen in scenarios %}
                        <option value="{{ scen.id }}">{{ scen.name }}</option>
                    {% endfor %}
                </select>

                <button id="run_model" type="button" data-loading-text="Running..." class="btn btn-primary">Run model</button>
                <button id="stop_model" style="display:none" type="button" class="btn btn-danger">Stop model</button>
                <button id="view_run_log" style="display:none" type="button" class="btn btn-info">View log</button>
            </div>

            <!--progress bars-->
            <label for="progress_bars">Progress</label>
            <div id="progress_bars" class="progress-bars">
                <div class="progress-row">
                    <div class="progress">
                        <div id="model_run_progress" class="progress-bar" role="progressbar" style="width:{{ progress }}%">{{progress}}%</div>
                    </div>&nbsp;
                    <button class="btn btn-default btn-xs btn-scenario-log">View log</button>
                </div>
            </div>
            <div id="status_message"></div>      
        </div>
        
        <!--log output-->
        <div class="col col-sm-12 col-md-8 col-lg-7">
            <label for="main_log">Main log</label>
            <div id="main_log" class="log"></div>
            <div id="main_log_status_message"></div>
            <br/>
            <label for="scen_log">Scenario log</label>
            <div id="scen_log" class="log"></div>
            <div id="scen_log_status_message"></div>      
        </div>
        
    </div>    
    
</div>
  
<script>
var status = {{ status }};
var progress = {{ progress }};
</script>

<script src="{{ url_for('static', filename='js/openagua.js') }}"></script>
<script src="{{ url_for('.static', filename='js/model-dashboard.js') }}"></script>

{% endblock %}