{% extends "master.html" %}
{% block title %} - Model dashboard{% endblock %}
{% block head_main %}
{% endblock %}

{% block content %}

 <div class="row">
    <div class="col-md-6 col-sm-9">
      <div class="panel panel-default">
        <div class="panel-heading">Pyomo optimization model</div>
        
        <div class="panel-body">

            <div class="container">
                <div class='col-md-2 col-sm-3'>
                    <div class="form-group">
                        <label for='datepicker1'>First month (mm/yyyy)</label>
                        <div class='input-group date' id='datepicker1'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-md-2 col-sm-3'>
                    <div class="form-group">
                        <label for='datepicker2'>Last month (mm/yyyy)</label>
                        <div class='input-group date' id='datepicker2'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datepicker1').datetimepicker({
                        viewMode: 'years',
                        format: 'MM/YYYY',
                    });
                    $('#datepicker2').datetimepicker({
                        viewMode: 'years',
                        format: 'MM/YYYY',
                        useCurrent: false //Important! See issue #1075
                    });
                    $("#datepicker1").on("dp.change", function (e) {
                        $('#datepicker2').data("DateTimePicker").minDate(e.date);
                    });
                    $("#datepicker2").on("dp.change", function (e) {
                        $('#datepicker1').data("DateTimePicker").maxDate(e.date);
                    });
                    $("#datepicker1").data("DateTimePicker").defaultDate('01/1995');
                    $("#datepicker2").data("DateTimePicker").defaultDate('12/2014');
                });
            </script>
         
            <div class="container">
                <div class='col-md-3'>
                    <label for "scenario_sets">Select scenarios to run</label>
                    <div id="scenario_sets"class="form-group">
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Base scenario</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Cuchillo expansion</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">New dam</label>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
      
        <div class="panel-footer">
            <button id="run_app" type="button" data-loading-text="Running..." class="btn btn-primary">Run model</button>
            <button id="model_cancel" type="button" class="btn btn-danger">Stop model</button>
        </div> 
      </div>
      
      <label for="run_progress">Progress</label>
      <div id="run_progress" class="progress">
          <div id="model_run_progress" class="progress-bar" role="progressbar" style="width:{{ progress }}%">{{progress}}%</div>
      </div>
      <div id="status_message"></div>
      
    </div>
  </div>
  
<script>
var status = {{ status }};
var progress = {{ progress }};
</script>

<script src="{{ url_for('model_dashboard.static', filename='js/model-dashboard.js') }}"></script>

{% endblock %}