<!-- modal_stop_app -->
<div class="modal" id="modal_stop_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="stop_model">Stop model</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to stop this model run? Model results may not be complete.</p>
      </div>
      <div class="modal-footer">
        <button id="stop_model_cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="stop_model_confirm" type="submit" class="btn btn-danger">Stop model</button>
      </div>
    </div>
  </div>
</div>

<!-- modal_model_stopped -->
<div class="modal" id="modal_model_stopped" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <!--<div class="modal-header">-->
        <!--<h4 class="modal-title" id="stop_model">Model stopped</h4>-->
      <!--</div>-->
      <div class="modal-body">
        <p>Model stopped!</p>
      </div>
      <div class="modal-footer">
        <button id="stop_model_cancel" type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>