#page-content-wrapper {
  padding: 10px 8px 8px 8px;
}

#map_row {
  padding: 10px 0 0 0;
}

#map {
    border-style: solid;
    /*border-width: 1px 0 0 1px;*/
    border-width: 1px;
    border-color: #999999;
    /*z-index: 1;*/
}

#add_node_error {
  font-weight: bold;
  color: red;
}

.dropdown-menu {
  z-index: 1000;
  width: 200px
}

.leaflet-bar {
    /*box-shadow: 0px 0px 0px 2px #bfbfbf;*/
    box-shadow: 0px 0px 0px 2px #336699;
    border-radius: 0;
}

.leaflet-bar > a {
  border-radius: 0;
}

.leaflet-bar a:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.leaflet-bar a:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
