{% extends "layout.html" %}

{% block title %} - Manage{% endblock %}

{% block head_master %}
{% include 'navbar.html' %}

{% endblock %}    
    
{% block main %}

<script>
var active_project_id = {{ session['project_id'] }};
{% if session['network_id'] %}
var active_network_id = {{ session['network_id'] }};
{% else %}
var active_network_id = null;
{% endif %}
</script>

<div class="container-fluid">

      <div class="row"><br>
      
        <!--select/add project-->
        <div class="col sm-4 col-md-4">
              <h4 style="margin:7px">Projects</h4>
              <div id="project_list">
                  <ul class="list-group"></ul>
              </div>
              <button id="add_project" class="btn btn-default btn-sm pull-right">Add project</button>
        </div> <!--end projects pane-->
          
        <!--select/add network-->
        <div class="col sm-4 col-md-4">

              <h4 id="network_list_description" style="margin:7px">Networks</h4>
              <div id="network_list"></div>
              <button id="add_network" class="btn btn-default btn-sm pull-right">Add network</button>

        </div> <!--end networks pane-->

      </div>   
</div>
  
{% include "modals.html" %}
  
<script src="{{ url_for('projects_manager.static', filename='js/functions.js') }}"></script>
<script src="{{ url_for('projects_manager.static', filename='js/projects_manager.js') }}"></script>

{% endblock %}