{% extends "layout.html" %}

{% block title %} - Manage{% endblock %}

{% block head_master %}
{% include 'navbar.html' %}
{% endblock %}    
    
{% block main %}

<script>
var active_project_id = -1;
var active_network_id = -1;
var active_template_id = -1;
  {% if 'project_id' in session %}
    var active_project_id = {{ session['project_id'] }};
  {% endif %}
  {% if 'network_id' in session %}
    active_network_id = {{ session['network_id'] }};
  {% endif %} 
  {% if 'template_id' in session %}
    var active_template_id = {{ session['template_id'] }};
  {% endif %}
</script>

<div class="container-fluid">
  
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" style="margin-top:15px">
    <li role="presentation" class="active"><a href="#studies" aria-controls="studies" role="tab" data-toggle="tab">Studies</a></li>
    <li role="presentation"><a href="#projects" aria-controls="projects" role="tab" data-toggle="tab">Projects/networks</a></li>
    <li role="presentation"><a href="#templates" aria-controls="templates" role="tab" data-toggle="tab">Templates</a></li>
  </ul>
  
  <!--Tab panes-->
  <div class="tab-content">
    
    <div role="tabpanel" class="tab-pane active" id="studies">
      <div class="row">
      
        <div class="col sm-4 col-md-4">
          <h4>My studies</h4>
          <div class="list-group">
            <a class="list-group-item" href="/_load_recent">Monterrey pilot</a>
            <a class="list-group-item" href="#">Ecuador flooding</a>
            <a class="list-group-item" href="#">Hydropower</a>
          </div>
        </div>
      
      </div>
    </div>

  
    <!-- projects -->
    <div role="tabpanel" class="tab-pane" id="projects">

      <div class="row"><br>
      
        <!--select/add project-->
        <div class="col sm-4 col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading clearfix" style="padding:3px">
              <button id="add_project" class="btn btn-default btn-sm pull-right">Add project</button>
              <h4 style="margin:7px">Projects</h4>
            </div>
            <div class="panel-body">
              <div id="project_list">
                <ul class="list-group">
                </ul>
              </div>
            </div>
          </div>
        </div> <!--end projects pane-->
          
        <!--select/add network-->
        <div class="col sm-4 col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading clearfix" style="padding:3px">
              <button id="add_network" class="btn btn-default btn-sm pull-right">Add network</button>
              <h4 style="margin:7px">Networks</h4>
            </div>
            <div class="panel-body">
                <p id="network_list_description"></p>
                <div id="network_list">
                </div>
            </div>
          </div>  
        </div> <!--end networks pane-->
        
        <!--select/add template-->
        <div class="col sm-4 col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading clearfix" style="padding:3px">
              <button id="attach_template" class="attach_template btn btn-default btn-sm pull-right">Attach template</button>
              <h4 style="margin:7px">Templates</h4>
            </div>
            <div class="panel-body">
                <p id="template_list_description"></p>
                <div id="template_list">
                </div>
            </div>
          </div>  
        </div> <!--end templates pane-->
        
        
      </div>
    </div> 
    
    <!--templates-->
    <div role="tabpanel" class="tab-pane" id="templates">

      <div class="row"><br>    
    
        <!--manage templates-->  
        <div class="col sm-6 col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading clearfix" style="padding:3px">
            <h4 style="margin:7px">Templates</h4>
            </div>
            <div class="panel-body">
              <div id="template_list_all">
                <ul class="list-group">
                </ul>
              </div>
        
              <label class="control-label">Upload new template - DOES NOT WORK</label>
              <input id="upload-template" name="upload-template[]" type="file" multiple class="file-loading">
              <script>
                $(document).on('ready', function() {
                    $("#upload-template").fileinput({showCaption: false});
                });
              </script>
        
            </div>
          </div>
        </div> 
        
      </div> <!--end templates pane-->
    
  </div>   
</div>
  
{% include "modals.html" %}
  
<script src="{{ url_for('projects_manager.static', filename='js/projects_manager.js') }}"></script>

{% endblock %}