{% extends "layout.html" %}

{% block title %} - Manage{% endblock %}

{% block head_master %}
{% include 'navbar.html' %}

<style>
    #jsoneditor {
      height:400px;
      width=100%
    }
</style>

<!--jsoneditor-->
<link rel="stylesheet" href="{{ url_for('static', filename='lib/jsoneditor/jsoneditor.min.css') }}" />
<script src="{{ url_for('static', filename='lib/jsoneditor/jsoneditor.min.js') }}"></script>

{% endblock %}    
    
{% block main %}

<div class="container-fluid">

      <div class="row"><br>    
    
        <!--manage templates-->  
        <div class="col sm-6 col-md-4">


            <h4 style="margin:7px">Templates</h4>


              <div id="template_list_all">
                <ul class="list-group">
                </ul>
              </div>
        
              <label class="control-label">Upload new template - DOES NOT WORK</label>
              <input id="upload-template" name="upload-template[]" type="file" multiple class="file-loading">
              <script>
                $(document).on('ready', function() {
                    $("#upload-template").fileinput({showCaption: false});
                });
              </script>

        </div> 
        
      
        <div class="col sm-6 col-md-8">

          <div id='jsoneditor'></div>
          <input id='save_template' class="btn btn-default" type="button" value="Save">
        
        </div>
      </div> <!--end templates pane-->  
</div>
  
<script src="{{ url_for('projects_manager.static', filename='js/functions.js') }}"></script>
<script src="{{ url_for('projects_manager.static', filename='js/template_editor.js') }}"></script>

{% endblock %}